name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt-get update && sudo apt-get -y install pelican
    - run: cd $GITHUB_WORKSPACE && pelican content/
    - run: ls .
